<footer class="footer_user">
    <div>
        {% for infopage in info_pages %}
            <a href="{{ path('app_info_page', {slug: infopage.slug}) }}">{{ infopage.name }}</a>
        {% endfor %}
        <a href="">Kontakty</a>
    </div>
    <hr>
    <p>2024 &copy; domena.cz</p>
</footer>