<footer class="footer_user">
    <div>
        <a href="">GDPR</a>
        <a href="">Cookies</a>
        <a href="">Podmínky</a>
        <a href="">Kontakty</a>
    </div>
    <hr>
    <p>2024 &copy; domena.cz</p>
</footer>