<header class="admin_header">
    <a href="{{ path('app_homepage') }}"><img src="{{ asset('graphics/image.png') }}" alt="logo_lf2_long" class="logo"></a>
    <a id="colored" href="" class="my_requests">
        Mé požadavky
    </a>
    <a id="colored" href="" class="all_requests">
        Požadavky všech
    </a>
</header>