<header class="admin_header">
    <img src="{{ asset('graphics/image.png') }}" alt="logo_lf2_long" class="logo">
    <a href="" class="my_requests">
        Mé požadavky
    </a>
    <a href="" class="all_requests">
        Požadavky všech
    </a>
</header>