<header class="header_user">
    <div class="header_logo_h">
        <a href="{{ path('app_homepage') }}"><img class= "logo" src="{{ asset('graphics/logo2.png') }}" alt="logo_lf2"></a>
        <h1>HELPDESK <span>2.LF UK</span> -<br/>POMOC S VÝPOČETNÍ TECHNIKOU</h1>
        <a href="{{ path('app_security') }}" class= "login">Přihlásit se</a>
    </div>
</header>