@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-font-size: 12px;
    --s-font-size: 1.5rem;
    --m-font-size: 2.5rem;
    --l-font-size: 3.5rem;
    --font-main: 'Montserrat', sans-serif;
    --background-color: #FFFFFF;

    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --tertiary-text-color: #504E4E;
    --special-lf2-color: #E4002B;

    --form-background-color: #C1C1C1;
    --form-fill-color: #EAEAEA;

    --shadow: rgba(0, 0, 0, 0.25);
    --without-edges: 107.5rem;
    --button-height: 13.125rem;
    

    --m-gap: 2rem;
    --l-gap: 3rem;
    --xl-gap: 5.5rem;
    --xxl-gap: 6.25rem;


    --s-radius: 0.25rem;
    --m-radius: 1.25rem;
}
html {
    font-size: var(--default-font-size);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
body,
input,
label,
input,
textarea,
select {
    font-family: var(--font-main);
    font-size: var(--s-font-size);
}
header {
    height: 29.375rem;
    box-shadow: 5px 0px 10px var(--shadow);
    .header_logo_h {
        display: flex;
        max-width: 100%;
        img {
            width: 28.9375rem;
            height: 25.5rem;
            margin: 0 0 0 2.5rem;
        }
        h1 {
            font-size: 4.375rem;
            font-weight: 550;
            width: 80.1875rem;
            max-width: 100%;
            align-self: center;
            span {
                color: var(--special-lf2-color);
                font-weight: 700;
            }

        }
    }
    a {
        font-size: var(--s-font-size);
        color: var(--special-lf2-color);
        font-weight: 500;
        position: relative;
        height: 1.5rem;
        top: 3.75rem;
        margin-left: 405.5px;
    }
    hr {
        margin: 0 6.25rem;
    }
}
.main_index {
    .index_note {
        font-size: var(--s-font-size);
        color: var(--tertiary-text-color);
        font-weight: 400;
        margin: 0;
        padding-top: 0.75rem;
        padding-left: 93.8rem;
        display: inline-block;
    }
    .new_request {
        margin:2.7rem 53.3rem 0;
        height: var(--button-height);
        background-color: var(--special-lf2-color);
        text-align: center;
        padding-top: 4.625rem;
        border-radius: 1.875rem;
        a {
            color: var(--secondary-text-color);
            font-size: 3.25rem;
            font-weight: 400;
            text-decoration: none;
        }
    }
    .check_existing_request {
        margin: 6.6rem 57.9rem 9.166rem;
        height: var(--button-height);
        background-color: var(--special-lf2-color);
        text-align: center;
        padding-top: 2.25rem;
        border-radius: 1.875rem;
        a{
            color: var(--secondary-text-color);
            font-size: var(--m-font-size);
            font-weight: 400;
            text-decoration: none;
        }
    }
}

footer {
    
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
    background-color: var(--background-color);
    box-shadow: 5px 0px 10px var(--shadow);
    div {
        display: flex;
        gap: 3.75rem;
        align-items: flex-end;
        margin:0 6.25rem 0 6.25rem;
        a:first-of-type {
            margin-left: auto;
        }
    }
    a {
        text-decoration: none;
        font-size: var(--s-font-size);
        color: var(--primary-text-color);
    }
    hr {
        margin:2.5rem var(--xxl-gap) 0 var(--xxl-gap);
    }
    p {
        margin-top: 2.5rem;
        text-align: right;
        margin: 2.5rem var(--xxl-gap) 0 var(--xxl-gap);
    }

}

.form {
    margin-top: var(--xxl-gap);
    margin-bottom: 2.375rem;
    display:grid;
    grid-template-columns: max-content max-content;
    gap: 4.5625rem;
    grid-gap: 2.8125rem;
    label {
        text-align: right;
        margin-left: 14.875rem;
    }
    .label_gap {
        margin-top: 5rem;
    }
    input {
        width: 30rem;
        background-color: var(--form-fill-color);
        border: 0.125rem solid;
        border-color: var(--primary-text-color);
        border-radius: var(--s-radius);
        padding: 0;
        margin: 0;
    }
    select {
        width: 25rem;
        background-color: var(--form-fill-color);
        border: 0.125rem solid;
        border-color: var(--primary-text-color);
        border-radius: var(--s-radius);
        padding: 0;
        margin: 0;
    }
    .location {
        width: 50rem;
    }
    textarea {
        height: 31.25rem;
        width: 63.75rem;
        background-color: var(--form-fill-color);
        border: 0.125rem solid;
        border-radius: var(--s-radius);
        padding: 0;
        margin: 0;
    }
}
.bottom_form {
    display: flex;
    gap: 22.334375rem;
    max-width: 100%;
    margin: 0;
    margin-left: 36.24375rem;
    margin-bottom: 13.8125rem;


    .upload_file::file-selector-button {
        border-radius: var(--s-radius);
        padding: 0 1rem;
        height: 2.5rem;
        cursor: pointer;
        background-color: var(--background-color);
        border: 0.125rem solid;
        margin-right: 1rem;
    }
    .submit {
        max-width: 100%;
        width: 12.5rem;
        height: 5rem;
        cursor: pointer;
        background-color: var(--special-lf2-color);
        color: var(--secondary-text-color);
        border: solid var(--background-color);
        border-radius: var(--m-radius);
    }
    
}
.upload_note {
    margin-bottom: 0.625rem;
    margin-left: 6.25rem;
    color: var(--tertiary-text-color);


}
.entry_successful {
    text-align: center;
    margin-top: 10.25rem;
    font-weight: 550;
    font-size: var(--m-font-size);
}
.div_entry_id {
    background-color: var(--special-lf2-color);
    border-radius: var(--m-radius);
    width: 33.33rem;
    margin-left: 63.33rem;
    color: var(--secondary-text-color);
    .text_entry_id {
        text-align: center;
        padding-top: var(--m-gap);
        font-size: var(--m-font-size);
    }
    .number_entry_id {
        text-align: center;
        padding-top: 0.75rem;
        padding-bottom: var(--m-gap);
        font-size: var(--m-font-size);
    }
}
.note_entry_id {
    text-align: center;
    font-size: var(--m-font-size);
    color: var(--tertiary-text-color);
    font-weight: 350;
    margin-top: var(--m-gap);
    margin-bottom: 14rem;
    line-height: 1.5;
}
/* prijaty_poz  */
.search_request_h {
    text-align: center;
    margin-top: 10.25rem;
    font-weight: 550;
    font-size: var(--m-font-size);
    span {
        color: var(--special-lf2-color);
    }
    }
.search_request {
    text-align: center;
    height: 5rem;
    width: 25rem;
    font-size: var(--m-font-size);
    margin-left: 67.5rem;
    margin-bottom: 14rem;
    border-radius: var(--m-radius);
    border-style:groove;
}
.main_bulletin {
    background-color: var(--form-background-color);
    margin: 4.16rem 20.41rem 4.16rem 20.41rem;
    h2 {
        font-size: var(--l-font-size);
        padding-top: var(--l-gap);
        padding-left: var(--xl-gap);
    }
    hr {
        width: 108.33rem;
        padding-left: var(--xl-gap);
        margin-top: var(--l-gap);
        margin-bottom: 0;
    }
    div {
        .request_text {
            background-color: #E4002B;
            width: 79.16rem;
            height: 48.08rem;
            margin-left: var(--xl-gap); 
            margin-top: var(--xl-gap); 
            h3 {
                background-color: aqua;
                font-weight: 500;
                font-size: var(--m-font-size);
                margin: 0;
            }
            div {
                background-color: blueviolet;
                max-width: 100%;
                max-height: 100%;
            }
        }
        
    }
}
