{% extends 'base.html.twig' %}

{% block title %}Helpdesk 2.LF UK{% endblock %}

{% block body %}

{% include 'components/public/header_admin.html.twig' %}

{% include 'components/public/nav_admin.html.twig' %}

    <main class="admin_main">
        <h2>Název kategorie</h2>
        {% include 'components/public/request_card.html.twig' %}
        
        <div class="page_cards">
            <a href=""> Předchozí</a>
            <a href=""> Další</a>
        </div>  
    </main> 
{% endblock %}
