{% extends 'base.html.twig' %}

{% block title %}Nový požadvek Helpdesk 2.LF UK{% endblock %}

{% block body %}
    {% include 'components/public/header.html.twig' %}

    <main>
        <form action="formular_n_poz.html" method="post" enctype="multipart/form-data">
            <div class="form">
                <label for="name">Jméno žadatele:</label>
                <input type="text" name="name" id="name">
                
                <label for="email"><b>*Kontaktní email:</b></label>
                <input type="email" name="email" id="email" required>
            
                <label for="tel">Telefon:</label>
                <input type="tel" name="tel" id="tel">
            
                <label class="label_gap" for="category">Kategorie požadavku:</label>
                <select class="label_gap" name="catagory" id="category">
                    <option value="other">Jiné</option>
                    <option value="purchase">Nákup techniky/tonerů</option>
                    <option value="fail">Porucha techniky</option>
                    <option value="zoom">Založení zoom meetingu</option>
                    <!--potřeba promyslet, jestli je nabídka dostačující-->
                </select>
            
                <label for="location">Pracoviště/budova/patro:</label>
                <input class="location" type="text" name="location" id="location">
            
                <label for="record_n">Evidenční číslo:</label>
                <input type="text" name="record_n" id="record_n">
        
                <label for="problem_text"><b>*Popis požadavku:</b></label>
                <textarea name="problem_text" id="problem_text" cols="70" rows="10" required></textarea>
            </div>
            <div class="bottom_form">
                <input class="upload_file" type="file" name="file" id="file" accept="image/*">
                
                <input class="submit" type="submit" value="Odeslat
Požadavek">
            </div>
                
            
        </form>
        <div class="upload_note"><i>(*povinné údaje)</i></div>
    </main>

    {% include 'components/public/footer.html.twig' %}
{% endblock %}