{% extends 'base.html.twig' %}

{% block title %}Helpdesk 2.LF UK{% endblock %}

{% block body %}
    {% include 'components/public/header.html.twig' %}

    <main>
        <div class="index_note">
            "Helpdek slouží jen pro zaměstnance 2.LF UK"
        </div>
        <a href="{{ path('app_new_request') }}" class="new_request">
            NOVÝ POŽADAVEK
        </a>
        <a href="{{ path('app_check_request') }}" class="check_existing_request">
            ZKONTROLOVAT STAV EXISTUJICÍHO <br>POŽADAVKU
        </a>
    </main>

{% include 'components/public/footer.html.twig' %}

{% endblock %}